.finance-btn{
    background-color: #3F69E3;
    border-radius: 50px;
    border: none;
    padding: 15px 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 14px;
    margin-right: -18px;
}


#v-pills-tab {
  padding: 0px 0px 0px 10px !important;
  margin-top: 0px !important;
  /* background-color: red; */
}
#v-pills-tab  .linklist {
  padding: 0 !important;
  position: relative !important;
  /* border: none !important; */
    /* background-color: red !important; */
    padding: 20px !important;
    /* ----------- */
    /* font-size: 20px; */
    display: inline-block;
      border-bottom: 1px solid #dee2e6 ;

}

/* #v-pills-tab  .linklist:hover{

} */

.nav-pills   {
  /* border-bottom: 1px solid #dee2e6 !important; */

}

/* .nav-pills a{
  text-decoration: underline;
  font-size: 20px;
} */
.nav-pills a{
  /* display: inline-block; */
  /* width: 100%; */
  /* border-bottom: 1px solid #dee2e6 ; */
  /* padding: 34px 0px ; */

}

#v-pills-tab  .linklist span.txt-2 {
  color: #010d3f !important;
  font-size: 18px !important;
  opacity: .5 !important;
}

#v-pills-tab .linklist span.txt-1 {
    color: #010d3f;
  font-weight: 600;
  font-size: 18px;
}

.gutter-left_sect {
  padding-left: 0 !important;
}

/* 
.linklist_paid_unpaid {
  padding: 0px 0px 0px 10px;
  margin-top: 0px !important;
}
.linklist_paid_unpaid  .linklist {
  padding: 0;
  position: relative;
  border: none;
}
.linklist_paid_unpaid  .linklist a.text-black {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  padding: 34px 0px;
}

.linklist_paid_unpaid  .linklist a.text-black span.txt-2 {
  color: #010d3f;
  font-size: 18px;
  opacity: .5;
}

.linklist_paid_unpaid .linklist.active a.text-black span.txt-1 {
    color: #010d3f;
  font-weight: 600;
  font-size: 18px;
} */

.rightSect {
  border-left: 1px solid #dee2e6;
  padding-left: 25px;
  min-height: 72vh;
}

.rightSect h2 {
  font-size: 28px;
  font-weight: 600;
  color: #010d3f;

}

.gutter-right_sect {
  padding-right: 0;
  padding-left: 0 !important;
}
/* .gutter-left_sect {
  padding-left: 0;
} */

.unpaid-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px !important;
  /* height: 133px;
  width: 350px; */
  margin: 0 12px;
}

.paid-items{
  color: #12142D;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}


.unpaid-profile #paid-1{
  color: #46BE00;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}
.unpaid-profile #paid-2{
  color: #4169E2 ;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.unpaid-profile .paid-date{
  color: #1A1E2B;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  opacity: .5;
}

.member-column {
  float: left;
  width: 25%;
  padding: 5px 0px;
}

.member-column-2 {
  float: left;
  width: 30%;
  padding: 5px 5px;
}

.unpaid-card-2 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.member-row {
  display: flex;
  justify-content: space-between;
}

#member-row {
  display: flex;
  justify-content: flex-start;
}

.member-row-txt{
    font-size: 10px;
    color: #191D2A;
    font-weight: 700;
    opacity: 50%;
    text-align: left;
}


.contract-row > .txt{
    color: #191D2A;
    font-size: 12px;
    opacity: 50%;
}

.member-row h4{
color: #191D2A;
font-weight: 700;
font-size: 18px;
}

.member-details p{
    font-weight: bold;
     color: #1A1E2B
}

.member-details i {
    font-size: 10px;
    color: #ffbd52;
  }
  
.member-details .no-fill {
    color: black;
}

.member-details > p {
    margin-bottom: 0;
  }
  
.member-row .div-invoice {
    margin-top: 10px;

} 
.member-row .member-invoice{
    font-size: 12px;
    color: #4169E2;
}  
select {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: none;
  border-radius: 50px;
  outline: none;
  padding:  0 40px;
  color: #191D2A;
  font-size: 12px;
  line-height: 1.2;
}




/* MODAL STYLES */

.modal-header{
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
}

.modal-header .modal-title{
  color: #1A1E2B;
  font-weight: 700;
  margin: 0 auto !important;
}

.modal-header .close{
  color: #000000 !important;
  margin-left: 0 !important;
}


.modal-body .modal-sub-title{
  color: #46BE00;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modal-profile{
  background-color: #F5F7FD;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
}



.modal-card-profile {
  display: flex;
  align-items: center;
}

.modal-card-profile .modal-card-details p{
  margin-bottom: 0;
 font-size: 16px;
 color: #030318;

}


.modal-profile i{
  font-size: 10px;
  color: #ffbd52;
}

.modal-profile .no-fill {
  color: #C0C2C8;
}


.modal-profile .modal-para{
  font-size: 12px;
  color: #8C8E94;
  margin-bottom: 0;
}

.modal-profile p > span{
color: #4169E2;
font-size: 12px;
font-weight: 600;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #D8D8D8;
  margin-top: 10px;
 
}


.pro-photo-1::after{
  font-family: FontAwesome;
  content: "\f111";
  color: #46BE00;
  font-size: 14px;
  top: 23px;
  padding: 30px;
  position: relative;
}



.modal-row .txt-1{
  color: #191D2A;
  font-size: 14px;
}

.modal-row .txt-2{
  color: #191D2A;
  font-size: 14px;
  font-weight: 600;
}

#modal-button{
  margin-top: 50px;
  margin-bottom: 20px;
}

.btn-file-download{
  background-color: #4169E2  ;
  box-shadow: 0 4px 8px 0 #00000023;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 15px 140px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: 2px;

}

/* MODAL STYLES ENDS */




.member-photo{
    /* background-color: rgb(187, 10, 10); */
    /* bottom: 50px;
    position: absolute; */
    display: flex;
    align-items: center;
}

.member-location-p{
    background-color: #2b1ee813;

  border-radius: 16px;
  /* opacity: 10%; */
  padding: 5px 10px;
}

.member-row > .member-location-p {

  color:#2C1DEA;
  text-transform: uppercase;
  font-weight: 700;
 
}

.contract-row .member-location-p > .member-location{
  margin-right: 10px;
}


.member-photo-1 {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    border: 2px solid white;

    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: transparent;
    /* transition: all 0.3s ease; */
    margin-right: 20px;
  }
  
  .member-photo-2 {
    position: absolute;
    z-index: 1;
    left: 35px;
    border-radius: 50%;
    border: 2px solid white;

    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: transparent;
    /* transition: all 0.3s ease; */
    margin-right: 10px;
  }

  .member-photo-3 {
    position: absolute;
    z-index: 3;
    left: 48px;

    border-radius: 50%;
    border: 2px solid white;

    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: transparent;
    /* transition: all 0.3s ease; */
    margin-right: 10px;
  }
  

  
.member-photo p{
   color: #191D2A;
   margin-left: 50px;
   margin-bottom: 0;
  font-size: 16px;
}
  


@media (max-width: 767px) {
  .rightSect {
    border: none;
  }
  .profile-pic {
    margin: 0px auto 40px;
  }
  .rightSect h2 {
    font-size: 20px;
  }
  h2.heading_h2 {
    font-size: 22px;
  }
  .linklist_paid_unpaid .linklist a.text-black {
    padding: 20px 0px;
  }

  .rightSect {
    min-height: auto;
  }
  .h2,
  h2 {
    font-size: 22px;
  }

  .rightSect {
    padding-left: 15px;
  }
  .gutter-right_sect {
    padding-right: 15px;
  }
  .linklist a .txt {
    font-size: 15px;
  }
  /* .linklist_paid_unpaid .linklist a.text-black span.fa {
    font-size: 16px;
    left: -35px;
  } */
  .linklist_paid_unpaid {
    padding: 0px 0px 0px 40px;
  }

  
}




/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
 
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
 
}


